@font-face {
    font-family: Get Schwifty;
    src: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/3089507/get-schwifty.woff') format('woff');
}

/* Card */

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 90%;
    margin-top: 10px;
    border: 3px solid rgba(176, 251, 0, 0.714);
    border-radius: 10px;
    padding:30px;
}

.containerCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin: 11px;
    background-color: #141516d9;
    border-radius: 10px;
    width: 250px;
    height: 350px;
    padding: 20px;
}

.containerCard:hover {
    border: 1.50px solid rgba(176, 251, 0, 0.714);
}

p {
    color: aliceblue;
    font-weight: 300;
    font-size: 1em;
}

.img {
    border-radius: 1000px;
    width: 170px;
    margin: 8px;
}
.Alive {
    color: white;
    background-color: rgba(176, 251, 0, 0.714);
    width: 80px;
    text-align: center;
    border-radius: 5px;
    font-size: 1.3rem;
}

.Dead {
    color: white;
    background-color: red;
    width: 80px;
    text-align: center;
    font-size: 1.3rem;
    border-radius: 5px;
}

.unknown {
    color: white;
    background-color: gray;
    width: 90px;
    text-align: center;
    font-size: 1.3rem;
    border-radius: 5px;
}

/* Card */

.h1 {
    margin-top: 50px;
    margin-bottom: 50px;
    width: 100%;
    text-align: center;
    font-family: 'Get Schwifty';
    font-size: 5em;
    color: aqua;
    text-shadow: 2px 2px 10px #141516d9;
}

@media screen and (max-width:356px) {
.h1 {
    font-size: 4em;

}
}

